* {
  font-family: sans-serif;
  box-sizing: border-box;
}

header {
  width: 100%;
  justify-items: center;
  padding: 3vh;
  background-color: #2d3436;
  color: #fff;
}

body {
  margin: 0;
  max-width: 100%;
  background: #f0f2f5;
}

li {
  list-style-type: none;
}

#toDo-title {
  color: #fff;
  justify-self: center;
}

#create-todo-section {
  padding-top: 2.5vh;
}

.tasks-title {
  background-color: #2d3436;
  width: 105%;

  padding: 0.2em;

  border-radius: 10px 10px 0px 0px;
}

.tasks-box {
  background-color: #fff;
  color: #000;
  max-width: 100%;
  max-height: 100%;
  width: 40%;
  height: 50%;
  padding: 2vh;
  margin: 10%;
  padding-top: 0;

  justify-items: center;
  justify-self: center;

  border-radius: 10px;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 32px 0px;
}

.tasks-box {
  margin: 0.8rem 0 1.6rem;
  min-height: 5rem;

  & > ul {
    padding-inline-start: 0rem;
    height: 23rem;
    overflow: auto;
    width: 100%;
  }

  & > ul > li {
    list-style-type: none;
    padding: 0.8rem 1.6rem;
    font-size: 1.6rem;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8rem;
    width: 90%;
    border-radius: 4px;
    transition: 0.4s;
    border: 1px solid #e0e0e0;
  }

  & > ul > li:last-child {
    margin-bottom: 0;
  }

  & > ul > li:hover {
    cursor: pointer;
    background-color: rgba(108, 92, 231, 0.3);
    box-shadow: 0 8px #8f49e7;
    transform: translateY(-4px);
    transition-duration: 0.4s;
  }

  & > ul > li > button {
    width: 2.4rem;
    height: 2.4rem;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: 0.4s;

    &:hover {
      background-color: #c0392b;
      transform: translateY(-2px);
      transition-duration: 0.4s;
    }
  }
}

.checkbox-label-container {
  display: flex;
  align-items: center;
  justify-content: center;

  & > label {
    cursor: pointer;
  }

  & > input {
    margin-right: 0.8rem;
    cursor: pointer;
  }
}

#create-todo-section {
  width: 100%;
}

#create-todo-form {
  font-size: 1.6rem;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.input-desc {
  height: 3.2rem;
  width: 100%;
  font-size: 1.2rem;
  border-radius: 0.4rem;
  margin-right: 0.4rem;
  outline: 0;
  border: 1px solid #646464;
  padding-left: 0.8rem;

  &:focus {
    border: 2px solid #6c5ce7;
  }
}

.add-task-btn {
  box-sizing: border-box;
  height: 3.6rem;
  width: 3.6rem;
  color: #fff;
  background: #6c5ce7;
  border: none;
  border-radius: 0.4rem;
  font-size: 2.4rem;
  cursor: pointer;
  transition: 0.4s;

  &:hover {
    opacity: 0.7;
    transform: translateY(-4px);
    transition-duration: 0.4s;
  }
}
