*{
    
    font-family: sans-serif;
}

header{

    width: 100%;
    justify-items: center;
    padding: 3vh;
    background-color: #fff;
    color: blueviolet;
}

body{
    margin: 0;
    background: linear-gradient(blueviolet, #6cffd0);
    
}

.tasks-box{
    background-color: #fff;
    color: blueviolet;
    max-width: 100%;
    max-height: 100%;
    width: 50%;
    height: 50%;
    padding: 3vh;
    margin: 10%;

    justify-items: center;
    justify-self: center;
    
    
    border-radius: 10px;

}