*{
    
    font-family: sans-serif;
}

header{

    width: 100%;
    justify-items: center;
    padding: 3vh;
    background-color: #fff;
    color: blueviolet;
}

body{
    margin: 0;
    background: linear-gradient(blueviolet, #6cffd0);
    
}

li {
    list-style-type: none;
}

#toDo-title{
    color: #8f49e7;
}

.tasks-box{
    background-color: #6cffd0;
    color: #000;
    max-width: 100%;
    max-height: 100%;
    width: 40%;
    height: 50%;
    padding: 2vh;
    margin: 10%;

    justify-items: center;
    justify-self: center;
    
    
    border-radius: 10px;

}

.tasks-box{
    margin: 0.8rem 0 1.6rem;
    min-height: 5rem;

    & > ul{
        padding-inline-start: 0rem;
        height: 23rem;
        overflow: auto;
        width: 100%;
    }

    & > ul > li {
        list-style-type: none;
        padding: .8rem 1.6rem;
        font-size: 1.6rem;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        margin-bottom: .8rem;
        width: 90%;
        border-radius: 4px;
        transition: 0.4s;
    }

    & > ul > li:last-child{
        margin-bottom: 0;
    }

    & > ul > li:hover{
        cursor:pointer;
        box-shadow: 0 8px #8f49e7;
        transform: translateY(-4px);
        transition-duration: 0.4s;
    }
    
    & > ul > li > button{
        width: 2.4rem;
        height: 2.4rem;
        background-color: crimson;
        color: #fff;
        border: none;
        border-radius: .4rem;
        cursor: pointer;

        &:hover{
            background-color: rgb(240, 35, 76);
        }
    }
    
}

.checkbox-label-container{
    display: flex;
    align-items: center;
    justify-content: center;

    & > label {
        cursor: pointer;
    }

    & > input {
        margin-right: .8rem;
        cursor: pointer;
        
    }

}


#create-todo-section{
    width: 100%;
}

#create-todo-form{
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.input-desc{
    height: 3.2rem;
    width: 100%;
    font-size: 1.2rem;
    border-radius: .4rem;
    margin-right: .4rem;
    outline: 0;
    border: 1px solid #646464;
    padding-left: .8rem;

    &:focus{
        border: 2px solid #8f49e7;
    }

    
}

.add-task-btn{
    box-sizing: border-box;
    height: 3.6rem;
    width: 3.6rem;
    color: #fff;
    background: #8f49e7;
    border: none;
    border-radius: .4rem;
    font-size: 2.4rem;
    cursor: pointer;

    &:hover{
        opacity: .7;
    }
}